/* Master styles */
body{
    margin: 0px;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    
}

/* Navigation styles */

.nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.left-side{
    display: flex;

}

.nav-wrapper > .left-side > div{
    margin-right: 10px;
    font-size: 1em;
    text-transform: uppercase;
}

.nav-link-wrapper{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}
.nav-link-wrapper a{
    color: grey;
    text-decoration: none;
    transition: color 0.5s;
}
.nav-link-wrapper:hover{
    border-bottom: 1px black;

}
.nav-link-wrapper a:hover{
    color: black;
}

/* Portfolio styles */
.portfolio-wrapper-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.portfolio-wrapper-item{
    position: relative;
}

.portfolio-img-background{
    height: 300px;
    width: 80%;
    background-size: cover;
    background-repeat: no-repeat;
}

.img-text-wrapper{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.logo-wrapper img{
    width:50%;
    margin-bottom: 20px;
}

.img-text-wrapper .subtitle{
    transition: 1s;
    font-weight: 600;
    color:transparent;
}

.img-text-wrapper:hover .subtitle{
    font-weight: 600;
    color: blue;
}

.img-darken{
    transition: 1s;
    filter: brightness(10%);
}

.two-column-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.image-content-wrapper{
    width: 100%;
}

.image-detail-wrapper{
    padding: 30px;
}

.image-detail-wrapper h1{
    color: red;
}